* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 10rem;
    display: inline-block;
    border: solid 1rem black;
}

.A {
    color: palevioletred;
    padding: 1rem;
    margin: 2rem;
}


.B {
    color: cornflowerblue;
    padding: 1rem;
    margin: 2rem;
}

.result {
    /*display: none;*/
    color: lightgrey;
    position: absolute;
    right: 0;
}